.ui-bar-b{border:1px solid #ccc;background:#ccc;color:#FFF;font-weight:700;text-shadow:0 -1px 0 #4C596A;background-image:linear-gradient(#B0BCCD/*{b-bar-background-start}*/,#6D84A2/*{b-bar-background-end}*/)}
.ui-bar-b .ui-link-inherit{color:#FFF}
.ui-body-b,.ui-overlay-b{border:1px solid #aaa;color:#4C596E;text-shadow:0 1px 0 #fff;background:url(images/tiling_stripes.gif) repeat scroll 0 0 transparent}
.ui-body-b .ui-link-inherit{color:#4C596E}
.ui-btn-up-b{border:1px solid #ccc;background:#eee;font-weight:700;color:#222;text-shadow:0 1px 0 #fff;background-image:linear-gradient(#B0BCCD/*{b-bup-background-start}*/,#889BB3/*{b-bup-background-end}*/)}
.ui-btn-up-b:visited,.ui-btn-up-b a.ui-link-inherit{color:#222}
.ui-btn-hover-b{border:1px solid #bbb;background:#B0BCCD;font-weight:700;color:#2f3e46;text-shadow:0 1px 0 #fff;background-image:linear-gradient(#b0bccd/*{b-bhover-background-start}*/,#b0bccd/*{b-bhover-background-end}*/)}
.ui-btn-down-b{border:1px solid #bbb;background:#B0BCCD!important;font-weight:700;color:#2f3e46;text-shadow:0 1px 0 #fff;background-image:linear-gradient(#b0bccd/*{b-bdown-background-start}*/,#b0bccd/*{b-bdown-background-end}*/);box-shadow:0 0 3px #387BBE inset, 0 0 9px #387BBE}
.ui-body-b input.ui-input-text,.ui-body-b .ui-input-search,.ui-input-text{background-color:#FFF}
.ui-body-b .ui-input-search{background-color:#FFF!important}
.ui-bar-b a[data-rel=back]{background:url(images/backButtonSprite.png) no-repeat scroll 0 0 transparent!important;border:0 none!important;border-radius:0 0 0 0!important;box-shadow:none!important;height:30px}
.ui-bar-b a[data-rel=back] .ui-btn-inner{background:url(images/backButtonSprite.png) no-repeat scroll right 0 transparent!important;box-shadow:none!important;height:30px;line-height:30px;margin:0 0 0 15px;padding:0 8px 0 0 !important}
.ui-bar-b a[data-rel=back] .ui-icon-arrow-l{display:none}
a[data-rel=back].ui-btn-up-b .ui-btn-inner .ui-btn-text{text-align:left}
.ui-header.ui-bar-b .ui-btn-inner{border:0 none!important;color:#FFF;text-shadow:0 -1px 0 #4C596A}
.ui-header-fixed.ui-bar-b .ui-btn-left,.ui-header-fixed.ui-bar-b .ui-btn-right{top:6px!important}
.ui-listview li.ui-btn-up-b,.ui-listview.ui-btn-up-b{background:none repeat scroll 0 0 #FFF;border-color:#BBB}
.ui-overlay-b .ui-listview .ui-li-divider{background:0 repeat scroll 0 0 transparent;border-bottom:medium none #989EA4;border-top:medium none #717D85;box-shadow:0 2px 0 rgba(255,255,255,0.4) inset;padding-bottom:.4em;padding-top:.4em;text-shadow:0 1px 0 rgba(0,0,0,0.5)}
li.ui-btn-up-b .ui-icon-arrow-r,li.ui-btn-hover-b .ui-icon-arrow-r{background-image:url(images/icons-18-black.png);background-color:transparent;background-position:-108px -1px}
.ui-listview li a.ui-btn-up-b{background:none repeat scroll 0 0 #FFF}
.ui-slider-track.ui-btn-down-b{background:0 repeat scroll 0 0 transparent!important;border:1px solid #929292!important;box-shadow:none!important}
span.ui-slider-label-b{background:none repeat scroll 0 0 #F9F9F9!important;box-shadow:-10px 15px 0 rgba(0,0,0,0.07) inset, 0 2px 6px rgba(0,0,0,0.5) inset;color:#7F7F7F}
.ui-slider.ui-btn-down-b span.ui-btn-active{box-shadow:-10px 15px 0 rgba(0,0,0,0.07) inset, 0 2px 6px rgba(0,0,0,0.5) inset}
.ui-slider .ui-btn-up-b{background:0 repeat scroll 0 0 transparent;box-shadow:0 1px 1px rgba(255,255,255,0.7) inset, 0 0 2px rgba(0,0,0,0.25)!important;border-color:#717171}
.ui-controlgroup-horizontal .ui-radio .ui-btn.ui-btn-up-b{background:0 repeat scroll 0 0 transparent}
.ui-controlgroup-horizontal .ui-radio .ui-btn-active.ui-btn-up-b{background:0 repeat scroll 0 0 transparent;box-shadow:0 2px 5px rgba(0,0,0,0.5) inset}
.ui-bar-c{border:1px solid #b3b3b3;background:#eee;color:#3e3e3e;font-weight:700;text-shadow:0 1px 0 #fff;background-image:linear-gradient(#f0f0f0/*{c-bar-background-start}*/,#dddddd/*{c-bar-background-end}*/)}
.ui-bar-c .ui-link-inherit{color:#3e3e3e}
.ui-body-c,.ui-overlay-c{border:1px solid #aaa;color:#333;text-shadow:0 1px 0 #fff;background:#f9f9f9;background-image:linear-gradient(#f9f9f9/*{c-body-background-start}*/,#eeeeee/*{c-body-background-end}*/)}
.ui-body-c .ui-link-inherit{color:#333}
.ui-btn-up-c{border:1px solid #ccc;background:#eee;font-weight:700;color:#2f3e46;text-shadow:0 1px 0 #fff;background-image:linear-gradient(#ffffff/*{c-bup-background-start}*/,#f1f1f1/*{c-bup-background-end}*/)}
.ui-btn-hover-c{border:1px solid #bbb;background:#dfdfdf;font-weight:700;color:#2f3e46;text-shadow:0 1px 0 #fff;background-image:linear-gradient(#f6f6f6/*{c-bhover-background-start}*/,#e0e0e0/*{c-bhover-background-end}*/)}
.ui-btn-down-c{border:1px solid #bbb;background:#d6d6d6;font-weight:700;color:#2f3e46;text-shadow:0 1px 0 #fff;background-image:linear-gradient(#d0d0d0/*{c-bdown-background-start}*/,#dfdfdf/*{c-bdown-background-end}*/)}
a.ui-link-inherit{text-decoration:none!important}
.ui-btn-active{border:1px solid #2373a5;background:#387BBE;font-weight:700;color:#fff;cursor:pointer;text-shadow:0 1px 0 #3373a5;text-decoration:none;background-image:linear-gradient(#387bbe/*{global-active-background-start}*/,#387bbe/*{global-active-background-end}*/);font-family:Helvetica,Arial,sans-serif}
.ui-btn-active:visited,.ui-btn-active:hover,.ui-btn-active a.ui-link-inherit{color:#fff}
.ui-btn-inner{border-top:1px solid #fff;border-color:rgba(255,255,255,.3)}
.ui-corner-all{-webkit-border-radius:.6em;border-radius:.6em}
.ui-br{border-color:rgba(130,130,130,.3);border-style:solid}
.ui-disabled{filter:Alpha(Opacity=30);opacity:.3;zoom:1}
.ui-disabled,.ui-disabled a{cursor:default!important;pointer-events:none}
.ui-icon,.ui-icon-searchfield:after{background-color:rgba(0,0,0,.4);background-image:url(images/icons-18-white.png);background-repeat:no-repeat;-webkit-border-radius:9px;border-radius:9px}
.ui-icon-alt .ui-icon,.ui-icon-alt .ui-icon-searchfield:after{background-color:rgba(255,255,255,.3);background-image:url(images/icons-18-black.png);background-repeat:no-repeat}
.ui-icon-plus{background-position:-1px -1px}
.ui-icon-minus{background-position:-37px -1px}
.ui-icon-delete{background-position:-73px -1px}
.ui-icon-arrow-r{background-position:-108px -1px}
.ui-icon-arrow-l{background-position:-144px -1px}
.ui-icon-arrow-u{background-position:-180px -1px}
.ui-icon-arrow-d{background-position:-216px -1px}
.ui-icon-check{background-position:-252px -1px}
.ui-icon-gear{background-position:-288px -1px}
.ui-icon-refresh{background-position:-323px -1px}
.ui-icon-forward{background-position:-360px -1px}
.ui-icon-back{background-position:-396px -1px}
.ui-icon-grid{background-position:-432px -1px}
.ui-icon-star{background-position:-467px -1px}
.ui-icon-alert{background-position:-503px -1px}
.ui-icon-info{background-position:-539px -1px}
.ui-icon-home{background-position:-575px -1px}
.ui-icon-search,.ui-icon-searchfield:after{background-position:-611px -1px}
.ui-icon-checkbox-on{background-position:-647px -1px}
.ui-icon-checkbox-off{background-position:-683px -1px}
.ui-icon-radio-on{background-position:-718px -1px}
.ui-icon-radio-off{background-position:-754px -1px}
.ui-icon-bars{background-position:-788px -1px}
.ui-icon-edit{background-position:-824px -1px}
.ui-checkbox .ui-icon,.ui-selectmenu-list .ui-icon{-webkit-border-radius:3px;border-radius:3px}
.ui-checkbox-on .ui-icon,.ui-radio-on .ui-icon{background-color:#387BBE}
.ui-icon-loading{background:url(images/ajax-loader.gif);background-size:46px 46px}
.ui-corner-all,.ui-btn-corner-all{-webkit-background-clip:padding;background-clip:padding-box}
.ui-overlay{background:#666;filter:Alpha(Opacity=50);opacity:.5;position:absolute;width:100%;height:100%}
.ui-overlay-shadow{-moz-box-shadow:0 0 12px rgba(0,0,0,.6);-webkit-box-shadow:0 0 12px rgba(0,0,0,.6);box-shadow:0 0 12px rgba(0,0,0,.6)}
.ui-shadow{-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);box-shadow:0 1px 4px rgba(0,0,0,0.3)}
.ui-bar-b .ui-shadow,.ui-bar-c .ui-shadow{-moz-box-shadow:0 1px 0 rgba(255,255,255,.3);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.3);box-shadow:0 1px 0 rgba(255,255,255,.3)}
.ui-shadow-inset{-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,.6);-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,.6);box-shadow:inset 0 1px 4px rgba(0,0,0,.6)}
.ui-icon-shadow{-moz-box-shadow:0 1px 0 rgba(255,255,255,.4);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.4);box-shadow:0 1px 0 rgba(255,255,255,.4)}
.ui-btn:focus,.ui-link-inherit:focus{outline:0}
.ui-btn.ui-focus{z-index:1}
.ui-focus,.ui-btn:focus{-moz-box-shadow:inset 0 0 3px #387BBE , 0 0 9px #387BBE;-webkit-box-shadow:inset 0 0 3px #387BBE , 0 0 9px #387BBE;box-shadow:inset 0 0 3px #387BBE , 0 0 9px #387BBE}
.ui-input-text.ui-focus,.ui-input-search.ui-focus{-moz-box-shadow:0 0 12px #387BBE;-webkit-box-shadow:0 0 12px #387BBE;box-shadow:0 0 12px #387BBE}
.ui-mobile-nosupport-boxshadow *{-moz-box-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important}
.ui-mobile-nosupport-boxshadow .ui-focus,.ui-mobile-nosupport-boxshadow .ui-btn:focus,.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus{outline-width:1px;outline-style:auto}
.ui-bar-b a.ui-link,.ui-bar-c a.ui-link{color:#7cc4e7;font-weight:700}
.ui-bar-b a.ui-link:visited,.ui-bar-b a.ui-link:hover,.ui-bar-b a.ui-link:active,.ui-body-b .ui-link:visited,.ui-body-b .ui-link:hover,.ui-body-b .ui-link:active,.ui-bar-c a.ui-link:visited,.ui-bar-c a.ui-link:hover,.ui-bar-c a.ui-link:active,.ui-body-c .ui-link:visited,.ui-body-c .ui-link:hover,.ui-body-c .ui-link:active{color:#2489ce}
.ui-bar-b,.ui-bar-b input,.ui-bar-b select,.ui-bar-b textarea,.ui-bar-b button,.ui-body-b,.ui-body-b input,.ui-body-b select,.ui-body-b textarea,.ui-body-b button,.ui-bar-c,.ui-bar-c input,.ui-bar-c select,.ui-bar-c textarea,.ui-bar-c button,.ui-body-c,.ui-body-c input,.ui-body-c select,.ui-body-c textarea,.ui-body-c button{font-family:Helvetica,Arial,sans-serif}
.ui-overlay-b,.ui-overlay-c{background-image:none;border-width:0}
.ui-body-b .ui-link,.ui-body-c .ui-link{color:#2489ce;font-weight:700}
.ui-btn-hover-b:visited,.ui-btn-hover-b:hover,.ui-btn-hover-b a.ui-link-inherit,.ui-btn-down-b:visited,.ui-btn-down-b:hover,.ui-btn-down-b a.ui-link-inherit,.ui-btn-up-c:visited,.ui-btn-up-c a.ui-link-inherit,.ui-btn-hover-c:visited,.ui-btn-hover-c:hover,.ui-btn-hover-c a.ui-link-inherit,.ui-btn-down-c:visited,.ui-btn-down-c:hover,.ui-btn-down-c a.ui-link-inherit{color:#2f3e46}
.ui-btn-up-b,.ui-btn-hover-b,.ui-btn-down-b,.ui-btn-up-c,.ui-btn-hover-c,.ui-btn-down-c{font-family:Helvetica,Arial,sans-serif;text-decoration:none}
.ui-icon-nodisc .ui-icon,.ui-icon-nodisc .ui-icon-searchfield:after,.ui-icon-nodisc .ui-icon-alt .ui-icon,.ui-icon-nodisc .ui-icon-alt .ui-icon-searchfield:after,.ui-icon-checkbox-off,.ui-icon-radio-off{background-color:transparent}
@media only screen and -webkit-min-device-pixel-ratio 13,only screen and min--moz-device-pixel-ratio 13,only screen and min-resolution 200dpi {
.ui-icon-plus,.ui-icon-minus,.ui-icon-delete,.ui-icon-arrow-r,.ui-icon-arrow-l,.ui-icon-arrow-u,.ui-icon-arrow-d,.ui-icon-check,.ui-icon-gear,.ui-icon-refresh,.ui-icon-forward,.ui-icon-back,.ui-icon-grid,.ui-icon-star,.ui-icon-alert,.ui-icon-info,.ui-icon-home,.ui-icon-bars,.ui-icon-edit,.ui-icon-search,.ui-icon-searchfield:after,.ui-icon-checkbox-off,.ui-icon-checkbox-on,.ui-icon-radio-off,.ui-icon-radio-on{background-image:url(images/icons-36-white.png);-moz-background-size:864px 18px;-o-background-size:864px 18px;-webkit-background-size:864px 18px;background-size:864px 18px}
.ui-icon-alt .ui-icon{background-image:url(images/icons-36-black.png)}
.ui-icon-plus{background-position:0 50%}
.ui-icon-minus{background-position:-36px 50%}
.ui-icon-delete{background-position:-72px 50%}
.ui-icon-arrow-r{background-position:-108px 50%}
.ui-icon-arrow-l{background-position:-144px 50%}
.ui-icon-arrow-u{background-position:-179px 50%}
.ui-icon-arrow-d{background-position:-215px 50%}
.ui-icon-check{background-position:-252px 50%}
.ui-icon-gear{background-position:-287px 50%}
.ui-icon-refresh{background-position:-323px 50%}
.ui-icon-forward{background-position:-360px 50%}
.ui-icon-back{background-position:-395px 50%}
.ui-icon-grid{background-position:-431px 50%}
.ui-icon-star{background-position:-467px 50%}
.ui-icon-alert{background-position:-503px 50%}
.ui-icon-info{background-position:-538px 50%}
.ui-icon-home{background-position:-575px 50%}
.ui-icon-search,.ui-icon-searchfield:after{background-position:-611px 50%}
.ui-icon-checkbox-on{background-position:-647px 50%}
.ui-icon-checkbox-off{background-position:-683px 50%}
.ui-icon-radio-on{background-position:-718px 50%}
.ui-icon-radio-off{background-position:-754px 50%}
.ui-icon-bars{background-position:-788px 50%}
.ui-icon-edit{background-position:-824px 50%}
}